<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html>
  <head>
    <title>Fight.Watch</title> 
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type ="text/css">
    <link href="{{cdn_environment}}/css/base.min.css" rel="stylesheet" type ="text/css">
    <link rel="shortcut icon" href="{{cdn_environment}}/favicon.ico"/>
  </head>
  <body>
  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site_modify_link" href="/" data-target="All">Fight.Watch</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class = "site_modify_link" data-target="All" href="#">All</a></li>
          {% block navbar %}
          	
          {% endblock %}
        </ul>        
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
	<div id = "main_container">
		{% block body %}
		{% endblock %}
	</div>

  {% block footer %}  	
  {% endblock %}


	</body>
	  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	  	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	  	<script src="{{cdn_environment}}/js/index.min.js"></script>
	  	{% block extrajs %}
	  	{% endblock %}

</html>
